<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuniPay Account Creation</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #b7b7b7; color: white; margin: 0; padding: 0;">
    <table align="center" bgcolor="#222222" cellpadding="0" cellspacing="0" width="600"
        style="border-collapse: collapse; max-width: 600px; margin: 0 auto; padding: 20px;">
        <tr>
            <td bgcolor="#3498db" style="background-color: #000a11; color: #ffffff; text-align: center; padding: 10px;">
                <h1 style="font-size: 24px;">TuniPay Account Creation</h1>
            </td>
        </tr>
        <tr>
            <td bgcolor="#222222" style="background-color: #222222; color: white; padding: 20px;">
                <p style="font-size: 18px; margin: 10px 0;">Your account credentials has been creadit:</p>
                <ul style="font-size: 18px; margin: 10px 0; padding-left: 20px;">
                    <li>
                        <span style="color: white;">Username:</span>
                        <span style="color: #aee3ae;">{{username}}</span>
                    </li>
                    <li>
                        <span style="color: white;">Email:</span>
                        <span style="color: #aee3ae;">{{email}}</span>
                    </li>
                    <li>
                        <span style="color: white;">Role:</span>
                        <span style="color: #aee3ae;">{{role}}</span>
                    </li>
                    <li>
                        <span style="color: white;">password:</span>
                        <span style="color: #aee3ae;">{{password}}</span>
                    </li>
                </ul>
                <p style="font-size: 18px; margin: 20px 0;">We're looking forward to serving you. If you have any
                    questions or need further assistance, please don't hesitate to reach out to us.
                </p>
            </td>
        </tr>
        <tr>
            <td bgcolor="#3498db" style="background-color: #000a11; padding: 20px;">
                <p style="font-size: 18px; margin: 0;">TuniPay - Your Trusted platform</p>
            </td>
        </tr>
    </table>
</body>

</html>